<mat-card [routerLink]="['/card-detail']" class="example-card">
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <div class="card-content">
      <div class="card-content-header">
        <mat-card-title>Drawing Example</mat-card-title>
        <mat-card-subtitle>Author</mat-card-subtitle>
      </div>
      <div class="card-content-body">
        <button mat-button>LIKE</button>
        <span>55</span>
      </div>
    </div>
  </mat-card-header>
</mat-card>

